{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'logs/css/base.css' %}" /> 

{% if collection %}
    <h1>WebRTC Log Collection (id = {{ collection.id }})</h1>
    <p><span class="label">Received On:</span> {{ collection.received_on }}</p>
    {% if collection.description %}
        <p><span class="label">Description:</span> {{ collection.description }} </p>
    {% endif %}
    {% if collection.user_agent %}
        <p><span class="label">UserAgent:</span> {{ collection.user_agent }} </p>
    {% endif %}
    <h2>Files</h2>    
    <ul>
    {% for file in file_list %}
        <li><a href="{% url 'logs:file' file.id %}">{{ file.filename }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Log collection not found</p>
{% endif %}

