{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'logs/css/base.css' %}" /> 

{% if collection_list %}
  <h1>Log Collections</h1>
  <table>
    <thead>
      <tr>
        <th>Uploaded on (UTC)</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    {% for collection in collection_list %}
      <tr>
        <td><a href="{% url 'logs:collection' collection.id %}">
            {{ collection.received_on }}</a></td>
        {% if collection.description %}
          <td>{{ collection.description }}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No log collections available</p>
{% endif %}
